Redirect 301 /zerotouch /research/zerotouch

Redirect 301 /combinFormation /infocomposer
Redirect 301 /combinformation /infocomposer
Redirect 301 /infoComposer /infocomposer
Redirect 301 /InfoComposer /infocomposer
Redirect 301 /cf /infocomposer
Redirect 301 /cF /infocomposer

Redirect 301 /research/simplGuide /research/simpl
#Redirect 301 /simpl /research/simplGuide
Redirect 301 /simpl /research/simpl
Redirect 301 /metametadata /research/simplGuide/metaMetadata
Redirect 301 /MICE /research/bigsemantics/MICE
Redirect 301 /ICE /research/bigsemantics/MICE
Redirect 301 /MDC /research/bigsemantics/MICE
Redirect 301 /mdc /research/bigsemantics/MICE
Redirect 301 /mice /research/bigsemantics/MICE
Redirect 301 /ice /research/bigsemantics/MICE
Redirect 301 /research/bigsemantics/ICE/index.html /research/bigsemantics/MICE
Redirect 301 /research/bigsemantics/ICE /research/bigsemantics/MICE
Redirect 301 /TweetBubble /research/bigsemantics/TweetBubble/index.html
Redirect 301 /tweetbubble /research/bigsemantics/TweetBubble/index.html
Redirect 301 /tweetbuble /research/bigsemantics/TweetBubble/index.html

Redirect 301 /tec /research/tec.html
Redirect 301 /tteclog /research/tec.html

Redirect 301 /research/informationCognition.html /research/informationBasedIdeation.html
Redirect 301 /research/informationDiscovery.html /research/informationBasedIdeation.html

Redirect 301 /research/publications/cF-TOIS7-0.pdf /research/publications/combinFormationTOIS2008.pdf
Redirect 301 /research/publications/cF-TOIS7-2.pdf /research/publications/combinFormationTOIS2008.pdf
Redirect 301 /research/publications/tochi-cf-2011.pdf /research/publications/ecologyLab-IBI-tochi2014R5-1.pdf

