Redirect 301 /zerotouch /research/bodyBased
Redirect 301 /research/zerotouch /research/bodyBased

Redirect 301 /combinFormation http://ideamache.ecologylab.net
Redirect 301 /combinformation http://ideamache.ecologylab.net
Redirect 301 /infoComposer http://ideamache.ecologylab.net
Redirect 301 /infoComposer http://ideamache.ecologylab.net
Redirect 301 /infocomposer http://ideamache.ecologylab.net
Redirect 301 /cf http://ideamache.ecologylab.net
Redirect 301 /cF http://ideamache.ecologylab.net
Redirect 301 /ideamache http://ideamache.ecologylab.net

Redirect 301 /infocomposerArchive /infoComposer-5.1.19c

Redirect 301 /artchi /research/artchi
Redirect 301 /Artchi /research/Artchi
Redirect 301 /artCHI /research/artCHI
Redirect 301 /ArtCHI /research/ArtCHI
Redirect 301 /art.chi /research/art.chi
Redirect 301 /Art.CHI /research/Art.CHI

Redirect 301 /research/simplGuide /research/simpl
Redirect 301 /simpl /research/simpl
Redirect 301 /oodss /research/simpl
Redirect 301 /mmd /research/bigsemantics
Redirect 301 /metametadata /research/bigsemantics
Redirect 301 /metaMetadata /research/bigsemantics
Redirect 301 /MetaMetadata /research/bigsemantics
Redirect 301 /bigsemantics /research/bigsemantics
Redirect 301 /BigSemantics /research/bigsemantics
Redirect 301 /MICE /research/bigsemantics/MICE
Redirect 301 /ICE /research/bigsemantics/MICE
Redirect 301 /MDC /research/bigsemantics/MICE
Redirect 301 /mdc /research/bigsemantics/MICE
Redirect 301 /mice /research/bigsemantics/MICE
Redirect 301 /ice /research/bigsemantics/MICE
Redirect 301 /research/bigsemantics/ICE/index.html /research/bigsemantics/MICE
Redirect 301 /research/bigsemantics/ICE /research/bigsemantics/MICE
Redirect 301 /TweetBubble /research/bigsemantics/TweetBubble/index.html
Redirect 301 /tweetbubble /research/bigsemantics/TweetBubble/index.html
Redirect 301 /tweetbuble /research/bigsemantics/TweetBubble/index.html
Redirect 301 /webcuration /research/informationComposition.html
Redirect 301 /webCuration /research/informationComposition.html
Redirect 301 /curation /research/informationComposition.html
Redirect 301 /techReports /technicalReports

Redirect 301 /tec /research/tec.html
Redirect 301 /tteclog /research/tec.html

Redirect 301 /research/informationCognition.html /research/informationBasedIdeation.html
Redirect 301 /research/informationDiscovery.html /research/informationBasedIdeation.html

Redirect 301 /research/publications/cF-TOIS7-0.pdf /research/publications/combinFormationTOIS2008.pdf
Redirect 301 /research/publications/cF-TOIS7-2.pdf /research/publications/combinFormationTOIS2008.pdf
Redirect 301 /research/publications/tochi-cf-2011.pdf /research/publications/a14-kerneInfoBasedIdeationToCHI.pdf
Redirect 301 /research/publications/ecologyLab-IBI-tochi2014R5-1.pdf /research/publications/a14-kerneInfoBasedIdeationToCHI.pdf

Redirect 301 /soc /summerofcode
Redirect 301 /courses/studio /courses/programmingStudio
Redirect 301 /join https://script.google.com/macros/s/AKfycbxJC4GxXd4GPGnkUYpHWnpUw3QDrNB6ym7kLjqIDYdfygwqnIfw/exec
Redirect 301 /mmart /mmart2010
Redirect 301 /sgve /workshops/sgve
Redirect 301 /tgve /workshops/tgve
Redirect 301 /ecology /
Redirect 301 /simpl/serialization/shahzadThesisCrossPlatformMultiFormat.pdf /technicalReports/shahzadThesisCrossPlatformMultiFormat.pdf

Redirect 301 /andruid /people/andruid
Redirect 301 /people/andruid/cv /people/andruid/andruidCV.pdf
Redirect 301 /people/andruid.html /people/andruid/index.html
Redirect 301 /andruidprev /people/andruid
Redirect 301 /barbarakerne /mom
Redirect 301 /ends101 /courses/ends101
