body{
	background-color: #000000;
	margin: 0px; 
    text-align: center;
    color: white;
		font-family: 'Merriweather', serif;
}

.main a{
    color: white;
    text-decoration: none;
}

.hand{
    background-image: url("palms.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
	display: block;
    height: 762px;
    width: 100%;
    text-align: center;
    position: absolute;
}

.object{
	width: 633px;
	height: 550px;
    background-image: url("rose.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadein {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100%  { opacity: 1; }
}

@-webkit-keyframes fadein {
    0% { opacity: 0; }
    40% { opacity: 0; }
    100%  { opacity: 1; }
} 

.main{

}

.mainTitle{
    font-size: 40px;
    padding-top: 10px;
}

.mainBody{
	display: inline-block;
	margin-bottom: 15px;
    height: 765px;
    width: 100%;
    text-align: center;
    position: relative;
	-webkit-animation: fadein 3s ease-in;
    animation: fadein 3s ease-in;
}

.module{
    width: 852px;
    height: 525px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.moduleLayout{
    width: 380px;
    height: 225px;
    position: relative;
    float: left;
}

.module{
    width: 812px;
    height: 526px;
    position: relative;
    margin: 0 auto;
    margin-top: 40px;
}

.pictures{
	position:relative;
	width:812;
	height: 526px;
}

.picture{
	width:380px;
	height:225px;
}

.moduleTopLeft{
    padding: 13px 13px 13px 13px;
	height:225px;
	width:380px;
}

.moduleTopRight{
    padding: 13px 13px 13px 13px;
	background: rgba(255, 255, 255, 0.7);
}

.moduleTopRight .picture{
	background-image: url("img/Ribbon.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}

.moduleBottomLeft{
    padding: 13px 13px 13px 13px;
	background: rgba(20, 20, 20, 0.8);
	height:225px;
	width:380px;
}

.moduleBottomLeft .picture{
	background-image: url("img/road.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.moduleBottomRight{
    padding: 13px 13px 13px 13px;

}

.moduleImage{
    padding: 13px 13px 0px 13px;
}

.moduleText{
	text-align: center;
	margin-top: 18px;
}

.bottomLink{
	text-decoration: underline;
}

.dropText{
    font-size: 20px;
	position: absolute;
    top: 56px;
    right: 2px;
}

.drop:hover{
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
        cursor: pointer;
}

.drop{
    position: absolute;
    top: 14px;
    transition:transform 0.3s ease;
    background-image: url("img/dropicon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 47px;
    height: 99px;
    position: relative;
    display: inline-block;
}
