body
{
	background-color: #333333;
}

.rootcontainer
{
	background-color: #eeeeee;
}

.content_title
{
	color: #500000;
	margin-left: 0px;
}

.people_text
{
	color: #333333; 
	font-size: 14px;
}

h5
{
	color: #500000;
	font-size: 16px;
}

a.