@font-face {
  font-family: "Helvetica";
  font-weight: bold;
  src: url("f/ag-helvetica-bold-35361.ttf") format("truetype");
}

body {
	font: 100%/1 "Helvetica", Arial, FreeSerif, OpenSymbol, "DejaVu Sans", sans-serif;
	font-weight: bold;
    display:inline;
}
