#explorationArea {
	margin: 10px auto;
	padding: 10px;
	width: 80%;
	height:auto;

	text-align: center;
}

#explorationContent0, #explorationContent1 {
	width: 45%;
	height: 300px;
	margin: 20px auto;

	opacity: 1;
	transition: opacity 1s;

	color: #F0F080;
	font-size: 25px;
	
	font-family: cambria, serif;
	text-align: center;
	text-shadow: 1px 1px #222222;

	display: none;

	vertical-align: bottom;
}

#explorationControls {
	text-align: center;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0.5s;

	display: none;
}

#titleInput {
	text-align: center;
}

#loading {
	text-align: center;
	display: none;
}

.explorationControl {
	display: inline-block;
	margin: 0 20px;
}