.entry
{
	font-family: Verdana, Century Gothic, Geneva, Arial, Sans-Serif;
	font-size: 11pt;
	padding-left: 12pt;
	padding-right: 12pt;
	padding-top: 6pt;
	padding-bottom: 6pt;
//      background-color: #008888;
	position: relative;
}

.metadata
{
	font-family: Verdana, Century Gothic, Geneva, Arial, Sans-Serif;
	font-size: 9pt;
        background-color: #cc9933;
	color: #000000;
	position: absolute;
	padding: 4pt;
}
