
* {
	padding: 0px;
	margin: 0px;
}

body {
  font: 300 12px "Helvetica Neue";
  overflow: hidden;
  position: relative;
	height: 100%;
}

html {
	height: 100%;
}

a {
  font-size: 14px;
  --text-align: right;
  pointer-events: all;
}

a:link, a:visited {
  color: #0bf;
  text-decoration: none;
}

a:hover {
  color: #0ef;
}

blockquote {
  margin: 0;
}

blockquote:before {
  content: "â€œ";
  position: absolute;
  left: -.4em;
}

blockquote:after {
  content: "â€";
  position: absolute;
}

body > ul {
  margin: 0;
  padding: 0;
}

h1 {
  font: 300 24px "Helvetica Neue";
}

h2 {
  font: 100 24px "Helvetica Neue";
}

h3 {
  font: 500 14px "Helvetica Neue";
}

p {
  font: 200 14px "Helvetica Neue";
}
table {
    border-collapse: separate;
    border-spacing: 10px;
    margin: 0 auto;
}

#sidebar {
    position: absolute;
    top: 25px;
    right: 50px;
    --font-size: 14px;
}

#timeline {
    width: 75px;
}

.invert {
  background: #1f1f1f;
  color: #dcdccc;
}

.invert h2, .invert h3 {
  color: #7f9f7f;
}

.string, .regexp {
  color: #f39;
}

.keyword {
  color: #00c;
}

.comment {
  color: #777;
  font-style: oblique;
}

.number {
  color: #369;
}

.class, .special {
  color: #1181B8;
}


.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: lightblue;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

body > svg {
  position: absolute;
  background: white;
  margin: auto;
  margin-left: 12%;
}

div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 100px;                  
    height: 18px;                 
    padding: 2px;             
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-anchor: middle;
    color: white;
    --text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;       
    background: black;   
    border: 0px;      
    border-radius: 10px;           
    pointer-events: none;
}

#tweeter-info-box {
	opacity: 0;
	position: absolute;
    padding: 50px;
	top: 25%;
	left: 26%;
	width: 30%;
	height: 45%;
	color: white;
    align-content: center;
    text-align: center;
	background-color: black;
	border-radius: 3px;
	box-shadow: 4px 3px 11px -3px darkgray;
	
	transition: opacity 0.6s;
	z-index: 100;
	pointer-events: none;
}


